<headers>
    <nav>
        <a href="/">Bookbrary</a>
        <ul>
        <li><a href="/authors">Books</a></li>
        <li><a href="/authors">Add Books</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Authors</a></li>
        </ul>
    </nav>
</headers>